html {
  font-size: 11px;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #555;
  margin: 0;
}

h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

@media (max-width: 460px) {
  h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-bottom-width: 2px;
  }
}

h3 {
  font-size: 3.25rem;
  border-bottom: 1px solid black;
  border-bottom-width: 2px;
}

/* Optional CSS to center align the heading text*/
.about h1,
.about h2 {
  text-align: center;
}

a {
  color: #e81c4f;
}

a:visited {
  color: #74638f;
}

#main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
}

@media (max-width: 1000px) {
  p {
    font-size: 30px;
  }
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

#img-caption {
  margin: 15px 0 5px 0;
}
/* Portrait and Landscape for Phones */
@media all and (max-width: 500px) {
  body {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
    color: black;
    font-size: 400px;
  }
}

@media all and (min-width: 1000px) {
  #image {
    width: 800px;
  }
}

#headline {
  margin: 50px 0;
  text-align: center;
}

ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}

li {
  margin: 16px 0;
}

blockquote {
  font-style: italic;
  max-width: 545px;
  margin: 0 auto 50px auto;
  text-align: left;
}

h1,
h2,
h3,
strong {
  color: #333;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
}

@media all and (min-width: 1000px) {
  .container {
    display: table-row;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr;
  }
}

.center {
  float: left;
}
